body {
  font-family: sans-serif;
  margin: 20px;
  background: black;
  color: orange;
}

.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tab-btn {
  padding: 10px;
  border: none;
  background:grey;
  cursor: pointer;
}

.tab-btn.active {
  background: orange;
}

.card {
  background: grey;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}
